In [ ]:
dict1 = {"name" : ["aditi","Nikita","priya"],
         "marks": [33,56,66]}

In [ ]:
print(dict1)

{'name': ['aditi', 'Nikita', 'priya'], 'marks': [33, 56, 66]}

In [ ]:
print(dict1['name'])

['aditi', 'Nikita', 'priya']

In [ ]:
#Questions

list1 = [44,12,34,66,11,44,24]
print(list1)

[44, 12, 34, 66, 11, 44, 24]

In [ ]:
print(sum(list1))

235

In [ ]:
uqine = list(set(list1))
print(uqine)

[34, 66, 11, 44, 12, 24]

In [ ]:
reversed_list = list1[::-1]
print(reversed_list)

[24, 44, 11, 66, 34, 12, 44]

In [ ]:

list1.sort(reverse=True)
print(list1)
print(list1[1])

[66, 44, 44, 34, 24, 12, 11]
44

In [ ]:
text = "apple banana"
words = text.split()

freq = {}
for word in words:
    freq[word] = freq.get(word, 0) + 1

print(freq)

{'apple': 1, 'banana': 1}

In [ ]:
dict1 = {'a': 10, 'b': 20}
dict2 = {'b': 30, 'c': 40}

merged = dict1.copy()
for key, value in dict2.items():
    merged[key] = merged.get(key, 0) + value

print(merged)

{'a': 10, 'b': 50, 'c': 40}

In [ ]:
data = {'a': 10, 'b': 50, 'c': 30}
print(max(data, key=data.get))

b

In [ ]:
data = {'a': 1, 'b': 2, 'c': 3}
inverted = {value: key for key, value in data.items()}
print(inverted)

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
t = (1, 2, 3)
lst = list(t)
lst.append(4)

print(lst)

[1, 2, 3, 4]

In [ ]:
t = (1, 2, 3, 3, 3)

count_dict = {}
for item in t:
    count_dict[item] = t.count(item)

print(count_dict)

{1: 1, 2: 1, 3: 3}

In [ ]:

t = (10, 5, 20, 3, 15)

print("Max:", max(t))
print("Min:", min(t))

Max: 20
Min: 3

In [ ]:
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]

set1 = set(list1)
set2 = set(list2)

print("Union:", set1 | set2)
print("Intersection:", set1 & set2)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}

In [ ]:
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_set = set(numbers)

print(unique_set)

{1, 2, 3, 4, 5}

In [ ]:
set1 = {1, 2}
set2 = {1, 2, 3, 4}

print(set1.issubset(set2))

True

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

result = set1 ^ set2
print(result)

{1, 2, 4, 5}

In [ ]:
s = "aditiiiii"
vowels = "aeiou"
count = 0

for ch in s:
    if ch in vowels:
        count += 1

print("Number of vowels:", count)

Number of vowels: 7

In [ ]:
s = "adiiitt"
reversed_string = s[::-1]
print("Reversed string:", reversed_string)

Reversed string: ttiiida

In [ ]:
s ="Ratio in maths"
no_spaces = s.replace(" ", "")
print("String without spaces:", no_spaces)

String without spaces: Ratioinmaths

In [ ]:
s = "text is goo"
words = s.split()
print("Number of words:", len(words))

Number of words: 3

In [ ]:
s = "write a program"
old_word = input("Enter word to replace: ")
new_word = input("Enter new word: ")

result = s.replace(old_word, new_word)
print("Updated string:", result)

Enter word to replace: a
Enter new word: in
Updated string: write in progrinm

In [1]:

s = input("Enter a string: ")

if s.isdigit():
    print("The string contains only digits.")
else:
    print("The string does not contain only digits.")

Enter a string: 328u5
The string does not contain only digits.