In [ ]:
print("Hello")

Hello

In [ ]:
c = int(input("Enter the value of c : "))
print(c)
d = int(input("enter the value of d : "))
print(d)
print("Addition : ",c+d)

print("Substraction : ",c-d)

print("Multiplication : " , c*d)

print("Division : ", c/d)

print("Reminder : ",c%d)

Enter the value of c : 34
34
enter the value of d : 7
7
Addition :  41
Substraction :  27
Multiplication :  238
Division :  4.857142857142857
Reminder :  6

In [ ]:
x = 5+3j
print(type(x))

<class 'complex'>

In [ ]:
pip install Math

ERROR: Could not find a version that satisfies the requirement Math (from versions: none)
ERROR: No matching distribution found for Math

In [ ]:
import math

x = 8
print(math.sqrt(x))
print(pow(2,15))
print(math.sin(x))

2.8284271247461903
32768
0.9893582466233818

In [ ]:
x = 10
if(x>10):
  print("x is greater thean number")
else:
  print("x is less than number")

x is less than number

In [ ]:
x = int(input("Enter the number : "))
if(x%2==0):
  print("x is even")
else:
  print("x is odd")

Enter the number : 46
x is even

In [ ]:
x=1
while(x<=10):
  print(x)
  x=x+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [ ]:
print("hello")

hello

In [ ]:
c = int(input("Enter the temperature : "))
f = (c*9/5)+32
print(f)

Enter the temperature : 17
62.6

In [ ]:
a = int(input("Enter the original price : "))
b = int(input("Enter the age of car : "))
if(b>5):
  print(a/100 * 5)
elif(b<1 and b<5):
  print(a/100 * 10)
else:
  print(a/100 * 20)

Enter the original price : 500
Enter the age of car : 3
100.0

In [ ]:
a = int(input("Enter the original price: "))
b = int(input("Enter the age of car: "))

if b < 1:
    loss = a * 20 / 100
elif b >= 1 and b <= 5:
    loss = a * 10 / 100
else:
    loss = a * (5 * b) / 100

print("Loss :", loss)

Enter the original price: 500
Enter the age of car: 2
Loss : 50.0

In [ ]:
name = input("Enter the name : ")
salary = int(input("Enter the basic salary : "))
hra_ = int(input("Enter the hra % : "))
da_ = int(input("Enter the da % : "))
tax_ = int(input("Enter the tax % :"))

hra = salary * hra_/ 100
da = salary * da_ / 100
gross_salary = salary + hra + da

tax = gross_salary * tax_ / 100
net_salary = gross_salary - tax

performance_bonus = net_salary * 0.02
final_salary = net_salary + performance_bonus

print("Name : ", name)
print("hra : " , hra)