In [ ]:
def add(a,b):
  print("sum=", a+b)
add(10,20)

sum= 30

In [ ]:
def square(n):
  return n*n
result = square(5)
print(result)

25

In [ ]:
def greet(name="student"):
  print("hello",name)
greet()

hello student

In [ ]:
def calculate_average(marks):
  return sum(marks)/len(marks)

marks = [70,80,90,85]
avg = calculate_average(marks)
print("Average Marks = ", avg)

Average Marks =  81.25

In [ ]:
square = lambda x:x*x
print(square(5))

25

In [ ]:
add = lambda a,b:a+b
print(add(10,20))

30

In [ ]:
print((lambda x:x+10)(5))

15

In [ ]:
from re import S
numbers = [1,2,3,4,5]
squares = list(map(lambda x:x*x,numbers))
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
numbers = [1,2,3,4,5,6]
even_numbers = list(filter(lambda x:x%2 == 0, numbers))
print(even_numbers)

[2, 4, 6]

In [ ]:
from functools import reduce
numbers = [1,2,3,4]
product = reduce(lambda a,b:a*b, numbers)
print(product)

24

In [ ]:
def fibonacci(n):
  if n <= 1 :
     return n
  else :
     return fibonacci(n-1)+fibonacci(n-2)
print(fibonacci(7))

13