In [ ]:
divisible_by_5 = lambda x: x % 5 == 0
print(divisible_by_5(25))

True

In [ ]:
average = lambda a, b: (a + b) / 2
print(average(10, 20))

15.0

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7]
odd_numbers = list(filter(lambda x: x % 2 != 0, numbers))
print(odd_numbers)

[1, 3, 5, 7]

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
result = list(map(lambda x, y: x * y, list1, list2))
print(result)

[4, 10, 18]

In [ ]:
numbers = [1, 2, 3, 4]
string_list = list(map(lambda x: str(x), numbers))
print(string_list)

['1', '2', '3', '4']

In [ ]:
words = ["apple", "banana", "orange", "umbrella", "grape"]
vowel_count = len(list(filter(lambda x: x[0].lower() in 'aeiou', words)))
print(vowel_count)

3

In [ ]:
numbers = [10, 20, 4, 45, 99]
second_largest = (lambda lst: sorted(set(lst))[-2])(numbers)
print(second_largest)

45

In [ ]:
simple_interest = lambda p, r, t: (p * r * t) / 100
print(simple_interest(1000, 5, 2))

In [ ]:
numbers = [-5, 10, -3, 7, 0, -1]
positive_numbers = list(filter(lambda x: x >= 0, numbers))
print(positive_numbers)

[10, 7, 0]

In [ ]:
leap_year = lambda year: (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)
print(leap_year(2024))

True

In [ ]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

print(is_prime(17))

True

In [ ]:
def is_palindrome(s):
    return s == s[::-1]

print(is_palindrome("madam"))

True

In [ ]:
def gcd(a, b):
    while b:
        a, b = b, a % b
    return a

print(gcd(48, 18))

6

In [ ]:
def reverse_string(s):
    return s[::-1]

print(reverse_string("Python"))

nohtyP

In [ ]:
def celsius_to_fahrenheit(c):
    return (c * 9/5) + 32

print(celsius_to_fahrenheit(25))

77.0

In [ ]:
def sum_of_list(lst):
    return sum(lst)

print(sum_of_list([1, 2, 3, 4, 5]))

15